{
	"api": {
		"monitoring": {
			"hostname": "icinga.example.com",
			"port": 5665,
			"path": "/v1/objects/services?filter=service.state!=0&attrs=__name&attrs=type&attrs=acknowledgement&attrs=state&attrs=last_check_result",
    			"ssl_key": "../etc/ssl/icinga.key",
			"ssl_cert": "../etc/ssl/icinga.crt"
		},
		"puppetdb": {
			"hostname": "puppetdb.example.com",
			"port": 443
		},
		"puppetdb/nodes": {
			"path": "/api/pdb/query/v4/nodes?include_total=true&offset=0&order_by=%5B%7B%22field%22:%22certname%22,%22order%22:%22asc%22%7D%5D&query=null"
		},
                        "path": "/api/pdb/query/v4/event-counts?query=[%22and%22,[%22=%22,%22latest_report?%22,true]]&summarize_by=containing_class"
                },
                "puppetdb/reports": {
                        "path": "/api/pdb/query/v4/reports?include_total=true&limit=10&offset=0&order_by=%5B%7B%22field%22:%22end_time%22,%22order%22:%22desc%22%7D%5D&query=%5B%22%3D%22,%22certname%22,%22{{hostname}}%22%5D",
                        "params": [ "hostname" ]
                }
	},
	"static": {
		"rootdir": "../www",
		"results": "../results"
	}
}
