@font-face {
	font-family: 'Muli';
	src: url("fonts/Muli-Bold.ttf");
}
@font-face {
	font-family: 'Muli';
	src: url("fonts/Muli-Regular.ttf");
}
@font-face {
	font-family: 'Muli';
	src: url("fonts/Muli-SemiBold.ttf");
}

body.main {
	font-family: 'Muli', sans-serif;
	background:white;
	margin:0;
	padding:0;
	overflow-y:scroll;
}

#logo {
	background: #222;
	padding:6px 12px;
	font-size:180%;
	font-weight:bold;
	margin-top: 4px;
	margin-left: 12px;
	clear:both;
}
#logo a {
	text-decoration: none;
	color: white;
}

#menu {
	position:fixed; 
	background: #222;
	color:silver;
	float:left;
	height:100%;
}
#menuOptions {
	margin-top: 24px;
	margin-left: 12px;
	z-index:0;
}
#menuOptions a {
	display:block;
	color: #ddd;
	text-decoration:none;
	padding:12px;
	margin:6px;
	border-radius: 6px;
	border: 1px solid #222;
}
#menuOptions a:hover {
	color: white;
	border: 1px solid #777;
}
#menuOptions a.current {
	background:black;
	color: white;
}
#menuOptions a img {
	margin-right: 12px;
	vertical-align: middle;
}

#content {
	overflow: hidden;
}

@media (max-width: 1023px) {
	#menuOptions {
		margin:6px;
	}
	#menuOptions a img {
		margin-right:0;
	}
	#menuOptions a .menuText {
		display:none;
		padding:0;
		margin:0;
	}
	#logo {
		display:none;
	}
	#filter select {
		max-width:20%;
	}
	#content {
		margin-left:66px;
	}
}

@media (min-width: 1024px) {
	#content {
		margin-left: 183px;
	}
}

#filter {
	width: 100%;
	background: #f0f0f0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #e0e0e0;
	padding: 12px 24px;
	color: #444;
	clear:both;
}

#viewinfo {
	width: 100%;
	background: white;
	border-bottom: 1px solid #bbb;
	color: #444;
	float:left;
	height:52px;
	display:table;
	overflow:hidden;
}
#viewinfo .block {
	font-weight:500;
	float:left;
	padding:6px 24px;
	display:table-cell;
	border-right:1px solid #e0e0e0;
}
#viewinfo .name {
	font-size:140%;
	padding:16px;
	min-width:200px;
	vertical-align: middle;
}
#viewinfo .count {
	line-heigt:10px;
	font-size:24px;
	margin-bottom:0;
	color: #a0a0a0;
}

#viewinfo .switches {
	float:right;
	padding:13px;
}
#viewinfo .switch.current {
	opacity: 0.7;
}
#viewinfo .switch {
	margin-left: 12px;
	opacity: 0.3;
}

#results {
	width: 100%;
}

.resultTable {
	width:100%;
	font-size:11pt;
	border-collapse: collapse;
	color: #444;
}
.resultTable th {
	background: #f5f5f5;
	border-bottom: 1px solid #e0e0e0;
	word-wrap: none;
	padding: 12px 24px;
}
.resultTable td {
	padding: 12px 12px;
	border-bottom: 1px solid #e0e0e0;
	word-wrap: break-word;
	vertical-align: top;
}
.resultTable .policy {
	font-size:110%;
}
th.headerSortUp:after {
	content: "\00a0↑";
}
th.headerSortDown:after {
	content: "\00a0↓";
}
td.groupByValue, td.message {
	word-break: break-all;
	min-width:50%;
}

#treemapContainer{
	position:absolute;
}
#treemap {
  position:relative;
  font: 10px sans-serif;
}

#treemap .node {
  position: absolute;
  overflow: hidden;
  padding: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  box-sizing: border-box;
}

#treemap .node--internal {
  font-weight: bold;
  color:white;
}

#treemap .node--hover {
  padding: 2px;
  border: solid 1px #000;
}

