// vim: set ts=4 sw=4: 
@font-face {
	font-family: 'Muli';
	src: url("fonts/Muli-Bold.ttf");
}
@font-face {
	font-family: 'Muli';
	src: url("fonts/Muli-Regular.ttf");
}
@font-face {
	font-family: 'Muli';
	src: url("fonts/Muli-SemiBold.ttf");
}

body.main {
	font-family: 'Muli', sans-serif;
	background:white;
	margin:0;
	padding:0;
	overflow-y:scroll;
}

#logo {
	background: #222;
	padding:6px 12px;
	font-size:180%;
	font-weight:bold;
	margin-top: 4px;
	margin-left: 12px;
	clear:both;
}
#logo a {
	text-decoration: none;
	color: white;
}

#menu {
	position:fixed; 
	background: #222;
	color:silver;
	float:left;
	height:100%;
}
#menuOptions {
	margin-top: 24px;
	margin-left: 12px;
	z-index:0;
}
#menuOptions a {
	display:block;
	color: #ddd;
	text-decoration:none;
	padding:12px;
	margin:6px;
	border-radius: 6px;
	border: 1px solid #222;
}
#menuOptions a:hover {
	color: white;
	border: 1px solid #777;
}
#menuOptions a.current {
	background:black;
	color: white;
}
#menuOptions a img {
	margin-right: 12px;
	vertical-align: middle;
}

#content {
	overflow: hidden;
}

@media (max-width: 1023px) {
	#menuOptions {
		margin:6px;
	}
	#menuOptions a img {
		margin-right:0;
	}
	#menuOptions a .menuText {
		display:none;
		padding:0;
		margin:0;
	}
	#logo {
		display:none;
	}
	#filter select {
		max-width:20%;
	}
	#content {
		margin-left:66px;
	}
}

@media (min-width: 1024px) {
	#content {
		margin-left: 183px;
	}
}

#filter {
	width: 100%;
	background: #f0f0f0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #e0e0e0;
	padding: 12px 24px;
	color: #444;
	clear:both;
}

#viewinfo {
	width: 100%;
	background: white;
	border-bottom: 1px solid #bbb;
	color: #444;
	float:left;
	height:52px;
	display:table;
	overflow:hidden;
}
#viewinfo .block {
	font-weight:500;
	float:left;
	padding:6px 24px;
	display:table-cell;
	border-right:1px solid #e0e0e0;
}
#viewinfo .name {
	font-size:140%;
	padding:16px;
	min-width:200px;
	vertical-align: middle;
}
#viewinfo .count {
	line-heigt:10px;
	font-size:24px;
	margin-bottom:0;
	color: #a0a0a0;
}

#viewinfo .switches {
	float:right;
	padding:13px;
}
#viewinfo .switch.current {
	opacity: 0.7;
}
#viewinfo .switch {
	margin-left: 12px;
	opacity: 0.3;
}

#results {
	width: 100%;
}

// shared problem color codes
#solved .FAILED, #solved .WARNING {
	background: #99f;
	color: black;
}
.severity {
	font-size:0;
}
.WARNING_ni {
}
.WARNING {
	background: #ff4 !important;
	border: 1px solid #bb0 !important;
}
.bcw10 { background: #ff0; color: #ff0; }
.bcw9 { background: #ff0; color: #ff0; }
.bcw8 { background: #ff2; color: #ff2; }
.bcw7 { background: #ff2; color: #ff2; }
.bcw6 { background: #ff4; color: #ff4; }
.bcw5 { background: #ff4; color: #ff4; }
.bcw4 { background: #ff4; color: #ff4; }
.bcw3 { background: #ff6; color: #ff6; }
.bcw2 { background: #ff6; color: #ff6; }
.bcw1 { background: #ff6; color: #ff6; }
.FAILED_ni {
	color: #f00;
}
.FAILED {
	background: #f44 !important;
	border: 1px solid #c44;
	color: white !important;
}
.bcf10 { background: #f00; color:#f00; }
.bcf9 { background: #f22; color:#f22; }
.bcf8 { background: #f44; color:#f44; }
.bcf7 { background: #f66; color:#f66; }
.bcf6 { background: #f77; color:#f77; }
.bcf5 { background: #f88; color:#f88; }
.bcf4 { background: #f99; color:#f99; }
.bcf3 { background: #faa; color:#faa; }
.bcf2 { background: #fbb; color:#fbb; }
.bcf1 { background: #fcc; color:#fcc; }
.NORESULTS {
	background: #eee;
	border: 1px dotted #aaa;
	color: #eee;
}

.UNKNOWN {
	background: #f7f;
	border: 1px solid #777;
	color: black;
}
.KNOWN {
	background: #eee;
	border: 1px solid #777;
	color: #eee;
}
.OK {
	background: #7f7;
	border: 1px solid #4c4;
	color: #7f7;
}

#legend {
	background:#eee;
	color:#444;

	overflow:hidden;
	padding:6px;
	text-align:center;
}
.legendItem {
	color:black;
        background:white;
	text-align:left;
	display:block;
	padding:0 3px;
	margin-top:1px;
	cursor:pointer;
        overflow:hidden;
	text-overflow:ellipsis;
}
#legend select {
	width:100%;
}

.resultTable {
	width:100%;
	border-collapse: collapse;
	color: #444;
}
.resultTable th {
	background: #f5f5f5;
	border-bottom: 1px solid #e0e0e0;
	word-wrap: none;
	padding: 12px 12px;
	text-align:left;
}
.resultTable td {
	padding: 12px 12px;
	border-bottom: 1px solid #e0e0e0;
	word-wrap: break-word;
	vertical-align: top;
}

th.headerSortUp:after {
	content: "\00a0↑";
}
th.headerSortDown:after {
	content: "\00a0↓";
}
td.groupByValue, td.message {
	word-break: break-all;
	min-width:50%;
}

#treemapContainer{
	position:absolute;
}
#treemap {
	position:relative;
	font: 10px sans-serif;
}

#treemap .node {
	position: absolute;
	overflow: hidden;
	padding: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.4);
	box-sizing: border-box;
}

#treemap .foreignObject {
	font: 10px sans-serif;
	text-overflow: ellipsis;
	text-align: left;
	word-wrap: break-word;
}
#treemap .foreignObject body {
	margin:3px;
}
#treemap .foreignObject.depth1 * {
	color: white;
	font-weight: bold;
	padding:0;
}
#treemap rect {
	fill: none;
	stroke: #aaa;
}

#dashboard {
	clear:both;
	padding:12px 24px;
}
.overviewBox {

	border: 1px solid #ccc;
	border-radius: 6px;
	padding:12px 24px;
	margin:12px 6px;
}
.overviewBox h3 {
	margin-top:0;
	margin-bottom:12px;
}
.overviewBox.dark {
	background:#444;
	float:left;
}

#row1, #row2 {
	position: relative;
	clear:both;
}

.live {
	z-index:20;
	position: absolute;
	top: 12px;
	left: 12px;
	height:auto;
	width:400px;
}

.liveLabel {
	color: black !important;
	border: 1px solid #aaa;
	padding-left: 12px;
	padding-right: 12px;
	border-left:8px solid #aaa;
	opacity:0.7;
}
.liveLabel.OK {
	border-left:8px solid #7f7;
	background:#fff !important;
}

table.probes, table.probes td {
	border: 1px solid gray;
	border-collapse: collapse;
	word-wrap: normal;
}

table.probes td {
	padding: 3px 12px;
}

.probes .probe_label {
	display:inline-block;
	padding:3px;
	margin:1px;
	font-weight:normal;
	border-radius:3px;
	cursor:pointer;
}

.probes .probe_label.hidden {
	border:1px solid #ddd;
	background: #fdfdfd;
	color: #aaa;
}
.probes .probe_label.hidden:hover {
	border:1px solid #777;
	background: #eee;
	color: #444;
}
.probes .probe_label.shown {
	border:1px solid #777;
}

#dashboard h3 {
	background: #777;
	font-size:1.1em;
	color: white;
	padding: 6px 24px;
	margin: 0;
}

#topChangesBox h3, #scanInfoBox h3 {
	margin-top:0 !important;
}
#topChanges, #scanInfo {
	height:212px;
	background:#eee;
	padding:6px;
	float:left;
}
#topChanges table, #scanInfo table {
	float:left;
	width:auto;
	margin:6px;
}
#topChanges table {
	background: white;

}

#policies {
	clear:both;
	width:auto;
}

#policies .trend canvas {
	height:24px;
}

.policy span[severity="ok"]:before {
    content:'';
	background: url('img/ok.svg');
	background-repeat: no-repeat;
	width:24px;
	height:24px;
    display:inline-block;
	vertical-align:middle;
	margin-right:3px;
}

.policy span[severity="failed"]:before {
    content:'';
	background: url('img/failed.svg');
	background-repeat: no-repeat;
	width:24px;
	height:24px;
    display:inline-block;
	vertical-align:middle;
	margin-right:3px;
}

.policy span[severity="warning"]:before {
    content:'';
	background: url('img/warning.svg');
	background-repeat: no-repeat;
	width:24px;
	height:24px;
    display:inline-block;
	vertical-align:middle;
	margin-right:3px;
}

#overviewCalendar, #overviewHistogram, #topChangesBox, #policies, #scanInfoBox {
	float:left;
	margin-top:13px;
	margin-right:18px;
	margin-bottom:18px;
}

#overviewCalendar {
	height:220px;
}
#overviewCalendar table {
	height:220px;
}
#overviewCalendar td { 		
	font-size: 1.2em;
}

#overviewCalendar div.ui-corner-all {
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	border-radius:0;
}

#overviewCalendar div.ui-datepicker-header, #overviewHistogram div.chartTitle {
	background: #777;
	font-size:1.1em;
	line-height:1.25;
	color: white;
	padding: 1px;
	margin:0;
}

#overviewCalendar div.ui-datepicker {
	border:0;
	padding:0;
}

#overviewCalendar table.ui-datepicker-calendar {
	border:12px solid #eee;
}

#overviewHistogram div.chartTitle {
	text-align:left;
	padding:6px 24px;
}

#overviewHistogram div.chart {
	float:left;
	margin-right:12px;
}
#overviewHistogram canvas {
	border:12px solid #eee;
}


